            h2 {
                text-align:center; 
                color:blue;
            }

            h3 {
                text-align:center; 
                letter-spacing:5px;
            }

            #nav {
                text-align: center;
              
            }
        
            #nav ul li {
                width: 100px; 
                height: 50px; 
                line-height: 50px; 
                text-align: center; 
                background-color: #990000; 
                border-radius: 12px; 
                display: inline-block;
                margin-right: 5px;
            }
            
            #nav a {
                text-decoration: none;
                color: white;
            }
            
             .LrgRedFirst::first-letter{
                font-weight: bold; 
                font-size: 2.5em;
                color:red;
            }
            
            #footer {
                clear:both;
                background-color: #990000;
                text-align:center;
                font-size:65%; 
                font-weight:bold; 
                color:white;
                height: 50px;
                line-height: 50px;
            }
            
            #studentpic{
                width: 150px ;
                height: 140px ; 
                margin-right: 20px;
                float:left;
            }